 1.Write a program to accept percentage from the user and display the grade according to the following criteria:
 | Marks | Grade |
 |--- | --- |
| > 90 | A 
| > 80 and <= 90 | B 
| >= 60 and <= 80  | C
| < 60  | D

In [1]:
marks=int(input(print("Enter the number")))
if marks>90:
    print("Grade A")
elif 80<marks and marks<=90:
    print("Grade B") 
elif 60<marks and marks<=80:
     print("Grade C") 
else:
    print("Grade D")

Enter the number

None 67

Grade C

2. Write a program to accept cost price of a bike and display the road tax to be paid according to the following criteria:
     | Tax | Cost Price(in Rs) |
     | --- | --- |
     | 15% | > 100000|
    | 10% | > 50000 and <= 100000|
    | 5% | <= 50000|

In [9]:
cost_price=int(input(print("Cost price of Bike")))
if cost_price>100000:
    print(f" tax:{cost_price*0.15}")
elif 50000<cost_price and marks<=100000:
    print(f"tax: {cost_price*0.10}") 
elif  cost_price<=50000:
     print(f"tax :{cost_price*0.5}")

Cost price of Bike

None 7890

tax :3945.0

3. Accept any city from the user and display monuments of that city:

    | City | Monument |
     | --- | --- |
     | Delhi |Red Fort |
     | Agra |Taj Mahal |
     | Jaipur |Jal Mahal|

In [10]:
city = (input(print(''' Select a city from below list: 
 Delhi , Agra, Jaipur 
 City: ''')))

if city == "Delhi":
    print(f"The famous monument in {city} is Red Fort.")
elif city == "Agra":
    print(f"The famous monument in {city} is Red Fort.")
elif city == "Jaipur":
    print(f"The famous monument in {city} is Red Fort.")
else:
    print("Enter City name from the above list.")

 Select a city from below list:
 Delhi , Agra, Jaipur
 City:

None Agra

The famous monument in Agra is Red Fort.

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [11]:

number=int(input(print("enter the number")))
count=0
while number >10 :
    number=number/3
    count=count+1
print(f"number can be divide by  3 before it is less than or equal to 10 is {count} times")

enter the number

None 67

number can be divide by  3 before it is less than or equal to 10 is 2 times

5.Why and When to use while loop in python. Give a detailed description with example.

Ans: A "While" Loop is used to repeat a specific block until a condition is met. It is used when number of iteration are unknown. Example:Print i as long as i is less than 6

In [12]:
i=0
while i<6:
    print (i)
    i=i+1

0
1
2
3
4
5

 6.Use nested while loop to print 3 different pattern.

In [26]:
# Pattern 1

count = 5
i = 1
while i <= count:
    t=1
    while t<=i:
        print("*", end = " ")
        t=t+1
    i=i+1
    print("")

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Pattern 2

    
    
    count = 5

while count > 0:
    iteration = count
    while iteration > 0:
        print("*", end = " ")
        iteration -= 1
    count -= 1
    print("")


print("")

In [ ]:
rows = int(input("Enter the number of rows: "))  
# Outer loop will print number of rows  
for i in range(rows+1):  
    # Inner loop will print the value of i after each iteration  
    for j in range(i):  
        print(i, end=" ")  # print number  
    # line after each row to display pattern correctly  
    print(" ")

7. Reverse a while loop to display number from 10 to 1.

In [ ]:
i = 10
while i >= 1:
    print(i)
    i -= 1